/* About-us block */
.about-us-block__wrapper {
  position: relative;
}
.about-us-block__wrapper .general-decor-text {
  left: 85px;
  top: -40px;
  transform: none;
}
.about-us-block__wrapper .general-decor-figure {
  display: none;
}
.about-us-block__container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.about-us-block__img {
  width: calc(48% - 40px);
  height: 342px;
}
.about-us-block__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us-block__text {
  width: calc(52% - 40px);
  font-size: 16px;
  line-height: 150%;
  margin-top: 15px;
}
.about-us-block__text .general-decor-elem {
  margin-bottom: 10px;
}
.about-us-block__text p {
  margin-bottom: 25px;
}
.about-us-block__text p:last-of-type {
  margin-bottom: 0px;
}
.about-us-block__text .main-button {
  margin-top: 30px;
}
.about-us-block__text .wrapper {
  max-height: 220px;
  overflow: hidden;
}
.about-us-block__description {
  margin-top: 80px;
}
.about-us-block__description .main-caption-s {
  text-align: center;
}
.about-us-block__description > .info {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: #E0E0E0;
  max-width: 640px;
  margin: 10px auto 0px;
}
.about-us-block__description__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
}
.about-us-block__description__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  color: #BDBDBD;
  max-width: 260px;
}
.about-us-block__description__item .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.about-us-block__description__item .info {
  margin-top: 10px;
}
/* //About us block */

@media screen and (max-width: 1200px) {
    /* About us */
  .about-us-block {
    margin-bottom: 0px;
  }
  .about-us-block__wrapper .general-decor-text {
    left: 50px;
    top: 30px;
  }
  .about-us-block__container {
    margin-top: 50px;
  }
  .about-us-block__img {
    width: calc(48% - 20px);
  }
  .about-us-block__text {
    width: calc(52% - 20px);
  }
  .about-us-block__description {
    margin-top: 50px;
  }
  /* //About us */
}

@media screen and (max-width: 1024px) {
    /* About us */
  .about-us-block__img {
    width: calc(50% - 10px);
    height: 290px;
  }
  .about-us-block__text {
    width: calc(50% - 10px);
    margin-top: 0px;
  }
  .about-us-block__text .general-decor-elem {
    margin-bottom: 2px;
  }
  .about-us-block__text .wrapper {
    height: 190px;
  }
  .about-us-block__text .main-button {
    max-width: 250px;
    margin-top: 25px;
  }
  .about-us-block__description > .info {
    max-width: 100%;
  }
  .about-us-block__description__item {
    width: 230px;
  }
  /* //About us */
}

@media screen and (max-width: 767px) {
   /* About us */
  .about-us-block__wrapper .general-decor-text {
    display: none;
  }
  .about-us-block__wrapper .general-decor-figure {
    display: block;
    width: 190px;
    height: 190px;
    left: -40px;
    top: -100px;
    transform: rotate(55deg);
  }
  .about-us-block__container {
    flex-direction: column;
    margin-top: 20px;
  }
  .about-us-block__img {
    width: 100%;
    height: 165px;
  }
  .about-us-block__text {
    width: 100%;
    margin-top: 20px;
  }
  .about-us-block__text .general-decor-elem {
    margin-bottom: 20px;
  }
  .about-us-block__text .wrapper {
    height: initial;
  }
  .about-us-block__text .main-button {
    max-width: 320px;
    margin: 20px auto 0px;
  }
  .about-us-block__description__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: -30px;
  }
  .about-us-block__description__item {
    margin-bottom: 30px;
    max-width: 320px;
    width: 100%;
  }
  /* //About us */
}