/* General delivery */
.delivery__list-payment .delivery__item {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}
.delivery__item {
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}
.delivery__item:last-child {
  margin-bottom: 0px;
}
.delivery__item::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.delivery__item__img {
  width: 60px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  background-color: #FFFFFF;
}
.delivery__list-option {
  display: flex;
  align-items: flex-start;
  margin-right: -30px;
}
.delivery__list-option .delivery__item {
  margin-right: 30px;
  color: #E0E0E0;
}
.delivery__list-option .delivery__item::before {
  top: 7px;
  transform: none;
}
.delivery__list-option .delivery__item span {
  font-size: 12px;
}

.general-decor-caption {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
 justify-content: center;
 align-items: center;
}
.general-decor-caption::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #4F4F4F;
  transform: rotate(-45deg);
}
.general-decor-caption .img {
    width: 22px; 
    height: 20px;
    background-position: -15px -72px;
}
.img.delivery-times-img {
    width: 21px; 
    height: 27px;
    background-position: -15px -15px;
}
.img.delivery-method-img {
    width: 26px; 
    height: 20px;
    background-position: -66px -15px;
}
.img.orders {
    width: 22px; 
    height: 20px;
    background-position: -69px -15px;
}
.img.discounts {
    width: 24px; 
    height: 24px;
    background-position: -15px -15px;
}
.img.money {
    width: 22px;
    height: 20px;
    background-position: -15px -69px;
}

/* //General delivery */