/* Footer */
.footer {
  position: relative;
  background-color: #333333;
  margin-top: auto;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 55px;
  width: 100%;
  height: 2px;
  background-color: #4F4F4F;
}
.footer__wrapper__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.footer__logo {
  max-width: 138px;
  height: 31px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
/*   max-width: 605px; */
	max-width: 715px;
  width: 100%;
  max-height: 70px;
  color: #E0E0E0;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: -20px;
}
.footer__item {
  margin-right: 60px;
  margin-bottom: 20px;
  transition: color 0.4s;
}
.footer__social-list {
	position: relative;
	z-index: 99;
  display: flex;
}
.footer__social-item {
  margin-right: 30px;
}
.footer__social-item:last-child {
  margin-right: 0px;
}
.footer__social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4F4F4F;
  transition: background-color 0.4s;
}
.footer__wrapper__down {
  display: flex;
  padding: 20px 0px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #828282;
}
.footer__copyright {
  margin-left: auto;
  margin-right: -260px;
}
.footer__down-link {
  color: #E0E0E0;
  transition: color 0.4s;
}
.footer__down-link:first-of-type {
  margin-left: auto;
  margin-right: 60px;
}
.footer__lang {
	position: relative;
	z-index: 1;
}
.footer__lang_popup {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
	filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
	border-radius: 20px;
	background: #333333;
	opacity: 0;
    transition: opacity 0.1s, bottom 0.1s;
}
.footer__lang.active .footer__lang_popup{
	opacity: 1;
	bottom: 36px;
    transition: opacity 0.2s 0.15s, bottom 0.3s;
}
.footer__lang_list {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}
.footer__lang_list li{
}
.footer__lang_list a {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 37px;
	padding: 0 17px 0 20px;
}
.footer__lang_list .selected a:after {
	content: '\e906';
	font-family: 'icomoon';
	font-size: 8px;
	position: absolute;
	right: 17px;
	top: 14px;
}
.footer__lang_list li:hover {
	background: #4F4F4F;
}
.footer__lang_flag {
	width: 20px;
	height: 14px;
	margin-right: 10px;
}
.footer__lang_language {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
}
.footer__lang_country {
	padding-left: 5px;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #E0E0E0;
}
.footer__lang_link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	cursor: pointer;
	z-index: 2;
}
.footer__lang_link:hover .footer__lang_name, 
.footer__lang.active .footer__lang_name{
	color: #ACDA53;
}
.footer__lang_link .icon-globe {
	padding-right: 10px;
	font-size: 16px;
}
.footer__lang.active .icon-drop {
	transform: rotate(0);
}
.footer__lang_link .icon-drop {
	display: block;
	transform: rotate(180deg);
	padding:0  10px;
	font-size: 4px;
	transition: transform 0.3s;
}
.footer__lang_link .icon-drop:before{
	color: inherit;
}
.footer__lang_name {
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-align: center;
	text-transform: uppercase;
}

header .footer__lang_popup {
	bottom: initial;
	top: 50px;
    transition: opacity .1s,top .1s;
    filter: drop-shadow(0 -4px 8px rgba(0, 0, 0, .1));
}
header .active .footer__lang_popup {
	top: 55px;
	bottom: initial;
	opacity: 1;
    transition: opacity .2s .15s,top .3s;
}

/* Footer */
@media screen and (max-width: 1024px) {
  .footer__wrapper__top {
    flex-wrap: wrap;
  }
  .footer__logo-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__list {
    max-width: 495px;
  }
  .footer__item {
    margin-right: 30px;
    margin-bottom: 18px;
  }
  .footer__wrapper__down {
    justify-content: space-between;
  }
  .footer__copyright {
    margin: 0px;
  }
  .footer__down-link:first-of-type {
    margin: 0px;
  }
  .footer__lang {
	  width: 100%;
	  margin-top: 30px; 
  }
}
@media screen and (max-width: 670px) {
  .footer::before {
    bottom: 125px;
  }
  .footer__list {
    order: -1;
    max-height: 185px;
    max-width: 270px;
  }
  .footer__logo-wrapper {
    justify-content: flex-start;
    margin: 50px 0px 20px;
  }
  .footer__wrapper__down {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px 55px;
  }
  .footer__down-link {
    order: -1;
  }
  .footer__down-link:first-of-type {
    margin-right: 40px;
  }
  .footer__copyright {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .footer__lang_link {
	  justify-content: flex-start;
  }
}

/* //Footer */