/* Gidebook */
.gidebook__wrapper {
  position: relative;
}
.gidebook__wrapper .main-button {
  margin: 30px auto 0px;
}
.gidebook__wrapper .general-decor-figure {
  width: 315px;
  height: 315px;
  transform: rotate(139.28deg);
  bottom: -160px;
  right: -60px;
}
.article__list-gidebook {
  margin-bottom: -50px;
}
.article__list-gidebook .article__item {
  margin-bottom: 50px;
}
.gidebook__text {
  font-size: 16px;
  line-height: 150%;
  margin-top: 100px;
}
/* //Gidebook */

@media screen and (max-width: 1200px) {
  /* Gidebook */
  .gidebook__wrapper .general-decor-figure {
    display: none;
  }
  .gidebook__text {
    margin-top: 50px;
  }
  /* /Gidebook */
}

@media screen and (max-width: 576px) {
  /* Gidebook */
  .gidebook__wrapper .main-button {
    margin-top: 20px;
  }
  .gidebook__wrapper .general-decor-figure {
    display: block;
    width: 188px;
    height: 188px;
    transform: rotate(149.21deg);
    top: auto;
    right: -30px;
    bottom: -50px;
  }
  /* //Gidebook */
}