
@media screen and (min-width: 1201px) {
  .calc_button:hover::before {
    transform: rotate(45deg) translate(0px, -50px);
  }
}
.product__calc {
  display: flex;
  justify-content: space-between;
  width: 128px;
  height: 50px;
  border: 1px solid #4F4F4F;
  border-radius: 30px;
  padding: 4px;
}
.calc-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 25px;
  text-align: center;
  border: none;
  background-color: transparent;
}
.calc_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  width: 40px;
  height: 40px;
  background-color: #333333;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.calc_button .text {
  z-index: 1;
}
.calc_button::before {
  content: "";
  position: absolute;
  top: -75%;
  right: 0px;
  width: 100%;
  height: 250%;
  background-color: #4F4F4F;
  z-index: 0;
  transform: rotate(45deg);
  transition: transform 0.4s;
}