/* Subscribe */
.subscribe {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.subscribe::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.5);
    z-index: -1;
}
.subscribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  text-align: center;
}
.subscribe__container .sub {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}
.subscribe__container .input__wrapper {
  margin-top: 20px;
}
.subscribe__container .main-button-color {
  max-width: 171px;
  margin: 0px auto;
}
.subscribe__form {
  width: 100%;
  max-width: 360px;
}
.subscribe__form .custome-placeholder__text {
    color: #ffffff;
}
/* //Subscribe */

@media screen and (max-width: 1067px) {

  /* Subscribe */
  .subscribe__container {
    padding: 50px 0px;
  }
  /* //Subscribe */
}

@media screen and (max-width: 767px) {

  /* Subscripe */
  .subscribe__container {
    padding: 30px 0px;
  }
  .subscribe__container .sub {
    margin-top: 10px;
  }
  .subscribe__container .input__wrapper {
    margin-top: 10px;
  }
  /* //Subscripe */
  
}