/*
@font-face {
  font-family: "Impact";
  src: 
  	local('Impact'),
  	url(../fonts/Impact.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Medium'), url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Black'), url(../fonts/Montserrat-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: local('icomoon'), url('../fonts/icomoon.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
*/































/* Popup result-calc */
.popup-result-calc {
  max-width: 735px;
  max-height: 650px;
}
.popup-result-calc__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* //Popup result-calc */





@media screen and (max-width: 1024px) {
  /* Popup result-calc */
  .popup-result-calc {
    max-width: 543px;
    max-height: 100%;
    padding: 50px 30px;
  }
  /* //Popup result-calc */
}







@media screen and (min-width: 1068px) {
  /* Profile */
  .order-history-position-num {
    width: calc(13.5% - 5px);
  }
  .order-history-position-date {
    width: calc(15% - 5px);
  }
  .order-history-position-recipient {
    width: calc(15% - 5px);
  }
  .order-history-position-details {
      width: calc(10% - 5px);
  }
  .order-history-position-total {
    width: calc(15.5% - 5px);
  }
  .order-history-position-status {
    width: calc(15% - 5px);
  }
  .order-history-position-button {
    width: calc(19.5% - 5px);
  }
  .referral-history-position-1-lvl {
    width: calc(23% - 5px);
  }
  .referral-history-position-2-lvl {
    width: calc(24% - 5px);
  }
  .referral-history-position-3-lvl {
    width: calc(24% - 5px);
  }
  .referral-history-position-data {
    width: calc(23% - 5px);
  }
  .referral-history-position-last {
    width: calc(6% - 5px);
  }
  .referral-history-position-data {
    width: calc(20% - 5px);
  }
  .referral-history-position-descrip {
    width: calc(40% - 5px);
  }
  .referral-history-position-amount {
    width: calc(10% - 5px);
    text-align: right;
  }
  .referral-history-position-balance {
    width: calc(20% - 5px);
    text-align: right;
  }
  .referral-history__list-transactions {
    pointer-events: none;
  }
  /* //Profile */
}
@media screen and (max-width: 1330px) {

}
@media screen and (max-width: 1200px) {
  /* Contact */
  .contact {
    padding-bottom: 80px;
  }
  .contact .general-decor-text {
    bottom: -30px;
    right: 450px;
  }
  .contact__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(29.47deg);
    right: auto;
    top: auto;
    left: -60px;
    bottom: -150px;
  }
  .contact__container .wrapper {
    flex-direction: column;
  }
  .contact__container .question-block__list {
    margin-top: 20px;
  }
  .contact__text {
    max-width: 100%;
    margin-top: 50px;
  }
  .contact-to-us {
    margin-right: 30px;
  }
  .contact-to-us__list {
    margin-top: 20px;
  }
  .contact__follow-us {
    margin-top: 50px;
  }
  /* //Contact */
  /* Gidebook */
  .gidebook__wrapper .general-decor-figure {
    display: none;
  }
  .gidebook__text {
    margin-top: 50px;
  }
  /* /Gidebook */
}
@media screen and (max-width: 1067px) {
  /* Profile */
  .profile {
    margin-bottom: 80px;
  }
  .profile__wrapper .general-decor-figure {
    display: none;
  }
  .profile__main-info {
    margin-top: 50px;
  }
  .profile__container {
    margin-top: 32px;
  }
  .profile__sidebar-list {
    margin-top: 20px;
  }
  .profile__info__caption {
    font-size: 14px;
    line-height: 17px;
  }
  .profile__info {
    width: 66%;
    padding: 20px;
  }
  .profile__form__body {
    flex-direction: column;
  }
  .profile__form__body .input__wrapper {
    width: 100%;
  }
  .profile__form__footer {
    margin-top: 20px;
  }
  .profile__form__footer .main-button {
    order: -1;
    margin-left: 0px;
    margin-right: auto;
  }
  /* Order history */
  .order-history__header {
    display: none;
  }
  .order-history__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .order-history__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .order-history__item:last-child {
    margin-bottom: 0px;
  }
  .order-history__item .type {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    text-transform: initial;
  }
  .order-history__button {
      display: none;
  }
  .button-details-mobile {
      display: flex;
      width: 40px;
      height: 40px;
      margin-left: 20px;
  }
  .order-history__item-general-button {
      display: flex;
      justify-content: space-between;
  }
  .order-details {
      flex-direction: column;
  }
  .order-details__order.order-details__item {
      width: 100%;
      padding: 0px;
      border: none;
      margin-bottom: 30px;
      margin-left: 0px;
  }
  .order-details__preview__img {
      flex-shrink: 0;
      margin-right: 20px;
  }
  .order-details__item {
      width: 100%;
      margin-bottom: 20px;
      margin-left: 0px;
  }
  .order-details__item:last-child {
      margin-bottom: 0px;
  }
  .order-details__preview__descrip  {
      width: 100%;
  }
  .order-history-icon {
    margin-top: 0px;
  }
  /* //Order history */
  /* Referral */
  .referral-info {
    flex-direction: column;
  }
  .referral-info__list {
    max-width: 100%;
  }
  .referral-withdrawal {
    max-width: 100%;
    margin-top: 20px;
  }
  .referral-history__header {
    display: none;
  }
  .referral-history__list {
    flex-direction: column;
    position: relative;
  }
  .referral-history__list.active .referral-history__item:first-child {
    margin-bottom: 30px;
  }
  .referral-history__item .main-type {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .referral-history__item:first-child .text {
    display: block;
  }
  .referral-history__item:last-child {
    position: absolute;
    right: 0px;
    top: 15px;
    padding: 0px;
  }
  .referral-history__item .text {
    display: none;
  }
  .referral-history__item .main-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .referral-history__item .main-wrapper .text {
    margin-right: 60px;
  }
  .referral-history__sub {
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 60px;
  }
  .referral-history__sub .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .referral-history__sub .type {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .referral-history__sub .description {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ACDA53;
  }
  .referral-history__sub .description-text {
    margin-left: 80px;
    text-align: right;
  }
  .referral-history__sub-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
  }
  .referral-history__item-icon-drop {
    display: flex;
  }
  /* //Referral */
  /* //Profile */
  /* Subscribe */
  .subscribe__container {
    padding: 50px 0px;
  }
  /* //Subscribe */
}
@media screen and (max-width: 1024px) {
  /* Pay-delivery */
  .pay-deliver__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(-42.48deg);
    right: -40px;
    top: -100px;
  }
  .pay-delivery__list {
    margin-top: 50px;
  }
  .pay-delivery__item {
    padding: 20px;
  }
  .pay-delivery__item .main-caption-l {
    margin-top: 25px;
  }
  .pay-delivery__item .delivery__item {
    padding-left: 15px;
  }
  .pay-delivery__item .delivery__item__img {
    flex-shrink: 0;
    margin-right: 6px;
  }
  .pay-delivery__item .delivery__list-option .delivery__item {
    margin-right: 0px;
  }
  /* /Pay-delivery */
  /* Faq */
  .faq__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(-42.48deg);
    right: -15px;
    top: 50px;
  }
  .faq__text {
    margin-top: 50px;
  }
  .faq__container {
    margin-top: 20px;
    padding: 20px;
  }
  /* //Faq */
  /* Earn */
  .earn {
    margin-bottom: 80px;
  }
  .earn__wrapper {
    position: relative;
  }
  .earn__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(-54.64deg);
    right: -60px;
    top: 900px;
  }
  .earn__wrapper .general-decor-figure:nth-child(2) {
    display: none;
  }
  .earn__wrapper .general-decor-text {
    left: 40px;
    right: auto;
  }
  .earn__compensation__list {
    margin-right: -20px;
  }
  .earn__compensation__item {
    width: calc(33.333% - 20px);
    margin-right: 20px;
  }
  .earn__partner-programm {
    margin-top: 50px;
    max-width: 100%;
  }
  .earn__how-works__list {
    margin-right: -20px;
  }
  .earn__how-works__item {
    width: calc(33.333% - 20px);
    margin-right: 20px;
  }
  .earn__how-works__item::before {
    display: none;
  }
  .earn__text {
    max-width: 100%;
  }
  /* //Earn */
}
@media screen and (max-width: 767px) {
  /* Contact */
  .contact {
    padding-bottom: 50px;
  }
  .contact .general-decor-text {
    right: -170px;
    bottom: -20px;
    white-space: nowrap;
  }
  .contact__wrapper .general-decor-figure {
    width: 188px;
    height: 188px;
    transform: rotate(149.21deg);
    right: -50px;
    top: -50px;
    left: auto;
    bottom: auto;
  }
  .contact__text {
    margin: 20px 0px 30px;
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__container .wrapper {
    margin-top: 50px;
  }
  .contact__container .question-block__link {
    width: 40px;
    height: 40px;
  }
  .contact__container .question-block__item {
    margin-right: 20px;
  }
  .contact__container .question-block__item:last-child {
    margin-right: 0px;
  }
  /* //Contact */
  /* Profile */
  .profile {
    margin-bottom: 50px;
  }
  .profile__main-info {
    margin-top: 20px;
  }
  .profile__header-wrapper {
    flex-direction: column;
  }
  .profile__container {
    flex-direction: column;
  }
  .profile__sidebar-list {
    margin-top: 0px;
  }
  .profile__sidebar-item {
    margin-bottom: 30px;
  }
  .profile__info {
    width: 100%;
    padding: 0px;
    background-color: transparent;
    margin-top: 50px;
    box-shadow: none;
  }
  .order-history__list .main-button-confirm {
    max-width: 100%;
  }
  .order-details__preview__descrip {
      font-size: 13px;
  }
  .order-details__caption {
      font-size: 14px;
  }
  .profile__form__footer {
    flex-wrap: wrap;
  }
  .profile__form__footer .main-button {
    max-width: 100%;
    margin-left: 0px;
  }
  .profile__form__footer .button-only-text {
    margin-top: 10px;
    padding: 10px 5px;
    margin-left: auto;
  }
  /* Order history */
  /* Referral */
  .referral-info__item {
    align-items: center;
  }
  .referral-info__item .type {
    margin-right: 30px;
  }
  .referral-info__item .description {
    white-space: nowrap;
  }
  .referral-withdrawal .main-button-color {
    margin-bottom: 20px;
  }
  .referral-history__list.active .referral-history__item:first-child {
    margin-bottom: 20px;
  }
  .referral-history__item .main-wrapper {
    flex-direction: column;
  }
  .referral-history__item .main-wrapper .text {
    margin-top: 10px;
  }
  .referral-history__item:last-child {
    top: 42px;
  }
  .referral-history__sub .wrapper {
    flex-direction: column;
  }
  .referral-history__sub .wrapper .description {
    margin-top: 10px;
  }
  .referral-history__sub .description-text {
    margin-top: 10px;
    margin-left: 0px;
    text-align: left;
  }
  .referral-history__sub-list {
    align-items: flex-start;
  }
  /* //Profile */
  /* Subscripe */
  .subscribe__container {
    padding: 30px 0px;
  }
  .subscribe__container .sub {
    margin-top: 10px;
  }
  .subscribe__container .input__wrapper {
    margin-top: 10px;
  }
  /* //Subscripe */
  /* Pay-delivery */
  .pay-deliver__wrapper .general-decor-figure {
    display: none;
  }
  .pay-deliver__wrapper .general-decor-text {
    display: none;
  }
  .pay-delivery__list {
    margin-top: 30px;
    margin-right: 0px;
    flex-direction: column;
  }
  .pay-delivery__item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .pay-delivery__item:last-child {
    margin-bottom: 0px;
  }
  /* /Pay-delivery */
  /* Faq */
  .faq__wrapper .general-decor-figure {
    display: none;
  }
  .faq__text {
    margin-top: 20px;
  }
  .faq__container {
    margin-top: 30px;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
  }
  .faq__item__header .name {
    margin-right: 10px;
  }
  .faq__item__body p {
    margin-bottom: 25px;
  }
  /* //Faq */
  /* Earn */
  .earn {
    margin-bottom: 50px;
  }
  .earn__wrapper .general-decor-figure {
    width: 188px;
    height: 188px;
    transform: rotate(153.87deg);
    right: auto;
    left: -60px;
  }
  .earn__wrapper .general-decor-figure:nth-child(2) {
    display: block;
    transform: rotate(149.21deg);
    right: -25px;
    left: auto;
    bottom: 500px;
  }
  .earn__wrapper .general-decor-text {
    display: none;
  }
  .earn__compensation {
    margin-top: 30px;
  }
  .earn__compensation__list {
    flex-direction: column;
    margin-right: 0px;
    margin-top: 25px;
  }
  .earn__compensation__item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 130%;
  }
  .earn__compensation__item:last-child {
    margin-bottom: 0px;
  }
  .earn__partner-programm .main-caption-l {
    margin-bottom: 10px;
  }
  .earn__partner-programm h6 {
    margin-top: 20px;
  }
  .earn__how-works {
    margin-top: 30px;
  }
  .earn__how-works__list {
    flex-direction: column;
    margin-right: 0px;
    margin-top: 20px;
  }
  .earn__how-works__item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .earn__how-works__item:last-child {
    margin-bottom: 0px;
  }
  .main-button-color.main-button-color-earn {
    margin-top: 10px;
  }
  /* //Earn */
}
@media screen and (max-width: 576px) {
  /* Gidebook */
  .gidebook__wrapper .main-button {
    margin-top: 20px;
  }
  .gidebook__wrapper .general-decor-figure {
    display: block;
    width: 188px;
    height: 188px;
    transform: rotate(149.21deg);
    top: auto;
    right: -30px;
    bottom: -50px;
  }
  /* //Gidebook */
}

/* Error page */

.error-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    position: relative;
}
.error-page .main-caption {
    font-size: 144px;
    line-height: 176px;
    margin-bottom: 10px;
}

.error-page p {
    font-family: Impact;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.error-page .general-more {
    margin-left: 0px;
}

.error-page .general-decor-figure {
    width: 225px;
    height: 225px;
    transform: rotate(138.39deg);
    position: absolute;
    left: -115px;
    top: 0px;
}

.error-page .general-decor-figure:nth-child(2) {
    width: 405px;
    height: 405px;
    transform: rotate(138.39deg);
    bottom: -180px;
    left: auto;
    top: auto;
    right: -130px;
}

@media screen and (max-width: 767px) {
    .error-page {
        margin: 50px 0px;
    }
    
    .error-page .general-decor-figure {
        display: none;
    }
    
    .error-page .main-caption {
        font-size: 124px;
        line-height: 156px;
    }
}