/* Popup Delivery */
.popup-delivery {
  font-size: 14px;
  line-height: 150%;
}
.popup-delivery__payment {
  margin-top: 30px;
  margin-bottom: 50px;
}
.popup-delivery__caption {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.popup-delivery__caption .icon {
  width: 18px;
  height: 12px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
}
.popup-delivery__payment__text {
  margin-top: 30px;
}
.popup-delivery__option {
  margin-bottom: 30px;
}
.popup-delivery__option .popup-delivery__caption .icon {
  width: 16px;
  height: 15px;
}
.popup-delivery__method {
  margin-bottom: 30px;
}
.popup-delivery__method .popup-delivery__caption .icon {
  width: 16px;
  height: 13px;
}
.popup-delivery__method .delivery__list {
  color: #E0E0E0;
}
.popup-delivery__method__text {
  margin-top: 30px;
}
.popup-delivery__anonymous .popup-delivery__caption .icon {
  width: 12px;
  height: 20px;
}
.popup-delivery__anonymous__text {
  margin-bottom: 30px;
}
.popup-delivery__anonymous__text:last-child {
  margin-bottom: 0px;
}
/* //Popup Delivery */