/* Popup logout */
.popup-logout p {
  font-size: 14px;
  line-height: 130%;
  color: #E0E0E0;
}
.popup-logout .wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.popup-logout .button-only-text {
  margin-right: 30px;
}
/* //Popup logout */