@media screen and (min-width: 1201px) {
    .popup-noty-cart__button:hover::before {
        transform: rotate(45deg) translate(0px, -150px);
    }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 4;
  background-color: #fff;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 50px;
  max-width: 460px;
  background-color: #333333;
}
.popup::-webkit-scrollbar {
  display: none;
}
.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.4s;
}
.popup-noty-cart {
  display: flex;
  flex-direction: column;
  transform: translateX(101%);
  right: 0px;
  left: auto;
  top: 0px;
  height: 100%;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
  padding: 0px 10px 30px;
  max-width: 390px;
}
.popup-noty-cart.active {
  transform: translateX(0%);
}
.popup-noty-cart__header {
  padding: 12px 0px 6px 24px;
  position: relative;
}
.popup-noty-cart__header::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0px;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #4F4F4F;
}
.popup-noty-cart__header .main-caption {
  display: none;
}
.popup-noty-cart__body {
  max-height: 70%;
  overflow: auto;
  scrollbar-color: #4F4F4F white;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  background-color: #333333;
  padding: 0px 20px;
}
.popup-noty-cart__body::-webkit-scrollbar {
  width: 4px;
}
.popup-noty-cart__body::-webkit-scrollbar-thumb {
  background-color: #4F4F4F;
  border-radius: 5px;
}
.popup-noty-cart__list-wrapper {
  padding-right: 5px;
}
.popup-noty-cart__list {
  padding: 30px 0px;
}
.popup-noty-cart__item {
  display: flex;
  margin-bottom: 30px;
}
.popup-noty-cart__item:last-child {
  margin-bottom: 0px;
}
.popup-noty-cart__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  max-width: 128px;
  width: 100%;
  height: 98px;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.popup-noty-cart__info {
  font-size: 14px;
  line-height: 17px;
  width: 100%;
}
.popup-noty-cart__info .name {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  transition: color .4s;
}
.popup-noty-cart__info .info {
  display: flex;
  line-height: 100%;
  margin-bottom: 23px;
}
.popup-noty-cart__info .info .weight {
  margin-right: 7px;
}
.popup-noty-cart__info .info .calc {
  margin-left: 2px;
}
.info__footer {
  display: flex;
  justify-content: space-between;
}
.info__footer .price span {
  font-weight: 700;
}
.popup-noty-cart__footer {
  margin-top: auto;
  padding: 20px 20px 0px;
  position: relative;
}
.popup-noty-cart__footer::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0px;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #4F4F4F;
}
.popup-noty-cart__footer .total__item {
  margin-bottom: 10px;
}
.popup-noty-cart__footer .total__item-general {
  color: #ACDA53;
}
.popup-noty-cart__footer .total__wrapper {
  margin-bottom: 30px;
}
.bonuses-button .icon-info {
    font-size: 8px;
}
.bonuses-button .text {
    padding-right: 8px;
}
.bonuses-button {
    transition: color .4s;
}
.popup-noty-cart__open-button {
  display: none;
}
.popup-noty-cart__button {
  max-width: 100%;
}
.popup-noty-cart__button::before {
  top: -162%;
  right: -25px;
  width: 110%;
  height: 540%;
}
.popup-noty-cart__button:first-of-type {
  margin-bottom: 10px;
}
.popup-noty__empty {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}
.close__popup {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 19px;
  color: #828282;
  padding: 5px;
  transition: color 0.4s;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
}
.overlay.active {
  display: block;
}
.popup-reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-reviews__wrapper .clients-say__info__text {
  display: block;
  max-height: initial;
  margin-bottom: 20px;
}
.popup-caption {
  font-family: "Impact", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.popup-registration-social .button-enter {
  display: flex;
  margin-left: auto;
  margin-top: 20px;
}
.popup-registration-social .wrapper {
    display: flex;
    justify-content: space-between;
}
.main-button-social-popup {
  max-width: 100%;
  margin-bottom: 10px;
  border-width: 2px;
}
.main-button-social-popup:last-child {
  margin-bottom: 0px;
}
.main-button-social-popup .text {
  margin-left: 10px;
}
.main-button-social-popup .icon {
  width: 17px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.main-button-social-popup .icon-message {
  width: initial;
  height: initial;
}
.main-button-color-popup {
  max-width: 100%;
  height: 39px;
  margin-top: 20px;
}
.popup__footer {
  margin-top: 20px;
  font-size: 12px;
  line-height: 15px;
}
.popup__footer__sing-up {
  display: flex;
  justify-content: flex-end;
  color: #E0E0E0;
}
.popup__footer__sing-up .button-enter {
  margin-left: 2px;
}
.show-password {
  position: absolute;
  font-size: 13px;
  color: #828282;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.4s;
}
.popup__footer__navigation {
  display: flex;
  justify-content: space-between;
}
.button-nav {
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
  transition: color 0.4s;
}
.popup-login .popup__body,
.popup-password .popup__body {
  margin-top: 30px;
}
.popup__header .email {
  margin-top: -10px;
  margin-bottom: 20px;
}
.popup-check__list {
  margin-bottom: 20px;
}
.popup-check__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
  transition: color 0.4s;
}
.popup-check__item.active {
  color: #ACDA53;
}
.popup-check__item.active .decor {
  color: #ACDA53;
  border-color: #ACDA53;
}
.popup-check__item:last-child {
  margin-bottom: 0px;
}
.popup-check__item .decor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  font-size: 5px;
  color: #4F4F4F;
  border: 1px solid #4F4F4F;
  margin-right: 10px;
}
.popup-check-email,.popup-check-money  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-check-email .popup__body, .popup-check-money .popup__body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-check-email__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #4F4F4F;
  border-radius: 50%;
  margin-bottom: 20px;
}
.popup-check-email__info {
  display: flex;
  font-size: 12px;
  line-height: 15px;
  margin-top: 30px;
  color: #E0E0E0;
}
.popup-check-email__info .button-nav {
  margin-left: 20px;
}
@media screen and (max-width: 576px) {
  /* noty */
  
  .push_notification {
      top: 51px;
      right: 0px;
  }
  .popup {
    max-width: 100%;
    padding: 30px 20px;
  }
  .popup-noty-cart {
    max-width: 390px;
    padding: 0px 10px 30px;
  }
  .popup-noty-cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px 6px 14px;
    position: relative;
  }
  .popup-noty-cart__header .general-more {
    margin-left: 0px;
  }
  .popup-noty-cart__header .main-caption {
    display: block;
  }
  .popup-noty-cart__body {
    padding: 0px 10px;
  }
  .popup-noty-cart__footer {
    padding: 5px 10px 0px;
  }
  .popup-noty-cart__footer .popup-noty-cart__button {
    max-width: 100%;
  }
  .popup-noty-cart__footer .total__item:not(.total__item-general) {
    display: none;
  }
  .popup-noty-cart__footer .popup-noty-cart__button.main-button {
    display: none;
  }
  .popup-noty-cart__footer .total__wrapper {
    margin-bottom: 20px;
  }
  .popup-noty-cart__footer .total__item-general {
    margin-top: 10px;
  }
  .popup-noty-cart__footer.active .total__item:not(.total__item-general) {
    display: flex;
    animation: popup-opacity 0.4s;
  }
  .popup-noty-cart__footer.active .popup-noty-cart__button.main-button {
    display: flex;
    animation: popup-opacity 0.4s;
  }
  .popup-noty-cart__footer .total__item-general {
    margin-top: 20px;
  }
  .popup-noty-cart__open-button {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #4F4F4F;
    border-radius: 5px;
    margin: 0px auto 10px;
  }
  @keyframes popup-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .popup-delivery__payment .delivery__item__img {
    height: 30px;
  }
  .popup-delivery__option {
    margin-bottom: 20px;
  }
  .popup-delivery__option .delivery__list-option {
    flex-direction: column;
  }
  .popup-delivery__option .delivery__item {
    margin-bottom: 20px;
  }
  .popup-delivery__option .delivery__item:last-child {
    margin-bottom: 0px;
  }
  .popup-delivery__method__text,
  .popup-delivery__payment__text {
    margin-top: 20px;
  }
  /* Popup result-calc */
  .popup-result-calc {
    padding: 50px 20px;
  }
  .popup-result-calc .product__list {
    justify-content: center;
  }
  /* //Popup result-calc */
}