/* Popup withdrawal */
.withdrawal__input-wrapper p{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 10px;
}
.withdrawal__input-wrapper {
    margin-bottom: 20px;
}
.withdrawal__item input {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    font-size: 14px;
    line-height: 17px;
}
.withdrawal__list {
    display: flex;
    margin-right: -18px;
}
.withdrawal__item {
    width: calc(25% - 18px);
    margin-right: 18px;
}
.withdrawal__wrapper {
    display: flex;
    align-items: center;
}
.withdrawal__wrapper p {
    margin-left: 20px;
    font-size: 14px;
    line-height: 17px;
}
