
@font-face {
  font-family: "Impact";
  src: 
  	local('Impact'),
  	url(../fonts/Impact.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Medium'), url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Black'), url(../fonts/Montserrat-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: local('icomoon'), url('/fonts/icomoon.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}






