
/* About us */
.about-us-page__wrapper {
  position: relative;
}
.about-us-page__wrapper .general-decor-figure {
  width: 467px;
  height: 467px;
  transform: rotate(116.64deg);
  top: -80px;
  right: -140px;
}
.about-us-page__wrapper .general-decor-text {
  left: 20px;
  transform: none;
  bottom: 0px;
}
.about-us-page__container {
  margin-top: 30px;
  display: flex;
}
.about-us-page__main-img {
  width: 322px;
  height: 355px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 50px;
}
.about-us-page__content {
  max-width: 520px;
  margin-right: 50px;
  color: #E0E0E0;
  font-size: 14px;
  line-height: 150%;
}
.about-us-page__content .main {
  display: flex;
  font-weight: 700;
  color: #FFFFFF;
  margin: 40px 0px 50px;
}
.about-us-page__content .main::before {
  content: "“";
  font-family: "Impact", sans-serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
  color: #ACDA53;
  margin-right: 15px;
}
.about-us-page__content p {
  margin-bottom: 30px;
}
.about-us-page__content p:last-child {
  margin-bottom: 0px;
}
.about-us-page__content__caption {
  font-family: "Impact", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.about-us-page__img-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 238px;
}
.about-us-page__img-group .img {
  height: 158px;
  margin-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us-page__img-group .img:last-child {
  margin-bottom: 0px;
}
.about-us-page__img-group-tablet {
  display: none;
}
/* //About us */

@media screen and (max-width: 1024px) {
      /* About us */
  .about-us-page__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(-19.27deg);
    top: 0px;
    right: 0px;
  }
  .about-us-page__wrapper .general-decor-text {
    display: none;
  }
  .about-us-page__container {
    flex-direction: column;
    margin-top: 50px;
  }
  .about-us-page__main-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
    height: 300px;
  }
  .about-us-page__content {
    max-width: 100%;
    margin-right: 0px;
  }
  .about-us-page__content p {
    margin-bottom: 20px;
  }
  .about-us-page__content .main {
    margin: 30px 0px;
  }
  .about-us-page__img-group-tablet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .about-us-page__img-group-tablet .img {
    width: calc(50% - 10px);
    height: 160px;
    margin-bottom: 20px;
  }
  .about-us-page__img-group:not(.about-us-page__img-group-tablet) {
    display: none;
  }
  /* /About us */
}

@media screen and (max-width: 576px) {
      /* About us */
  .about-us-page__wrapper .general-decor-figure {
    top: 50%;
    right: -80px;
    transform: translateY(-50%) rotate(149.21deg);
  }
  .about-us-page__container {
    margin-top: 20px;
  }
  .about-us-page__main-img {
    height: 311px;
  }
  .about-us-page__content .main {
    margin-bottom: 20px;
  }
  .about-us-page__img-group-tablet .img:last-child {
    display: none;
  }
  .about-us-page__img-group:not(.about-us-page__img-group-tablet) {
    display: block;
    margin-top: 20px;
  }
  .about-us-page__img-group:not(.about-us-page__img-group-tablet) .img:first-child {
    display: none;
  }
  .about-us-page__img-group {
    width: 100%;
  }
  .about-us-page__img-group .img {
    width: 100%;
  }
  /* //About us */
}