/* Advantages page */
.our-advantages-page .our-advantages__list {
  column-count: 2;
  column-gap: 0;
  display: block;
  margin-right: -15px;
  margin-bottom: -30px;
}
.our-advantages-page .our-advantages__item {
  width: calc(100% - 15px);
  padding: 35px 50px 50px;
  background-color: #333333;
  margin-right: 15px;
  margin-bottom: 30px;
  break-inside: avoid;
  display: inline-block;
}
.our-advantages-page .our-advantages__text {
  display: block;
  height: auto;
  max-height: initial;
}
/* //Advantages page */

@media screen and (max-width: 1024px) {
    /* Advantages page */
    .our-advantages-page .our-advantages__list {
        column-count: 1;
        column-gap: 0;
    }
  /* //Advantages page */
}

@media screen and (max-width: 767px) {
    /* Advantages page */
  .our-advantages-page .our-advantages__item {
    padding: 25px;
  }
  /* //Advantages page */
}