/* Article  */
.article {
  margin-top: 100px;
}
.article .main-button {
  margin: 30px auto 0px;
  max-width: 182px;
}
.article__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: -30px;
}
.article__list-main {
    justify-content: center;
}
.article__item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 30px;
}
.article__item__img {
  height: 200px;
  margin-bottom: 20px;
}
.article__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article__item__caption {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.article__item__text {
  font-size: 16px;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #E0E0E0;
  margin: 7px 0px 10px;
}
/* //Article  */

@media screen and (max-width: 1330px) {
    /* Article */
  .article__list-main .article__item:last-child{
      display: none;
  }
  /* //Article */
}

@media screen and (max-width: 1200px) {
  /* Article */
  .article__list-main {
    justify-content: center;
  }
  .article__list-main .article__item:last-child {
    margin-right: 30px;
    display: flex;
  }
  .article__list {
    margin-top: 50px;
    margin-right: -20px;
    margin-bottom: -30px;
  }
  .article__item {
    width: 229px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .article__item__img {
    height: 150px;
    margin-bottom: 10px;
  }
  .article__item__text {
    -webkit-line-clamp: 6;
    font-size: 15px;
    margin: 4px 0px 10px;
  }
  /* //Article */
}

@media screen and (max-width: 1024px) {
    /* Article */
  .article__list-main .article__item:nth-child(4) {
    display: none;
  }
  /* //Article */
}

@media screen and (max-width: 767px) {
  /* Article */
  .article__list {
    margin-top: 20px;
  }
  .article__list-main .article__item:nth-child(3) {
    display: none;
  }
  .article__position .article__list {
    max-width: 498px;
  }
  /* /Article */
}

@media screen and (max-width: 576px) {
    /* Article */
  .article .main-button {
    max-width: 320px;
    margin: 20px auto 0px;
  }
  .article__list-main .article__item:nth-child(3) {
    display: flex;
  }
  .article__list-main {
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
  }
  .article__item {
    width: 100%;
    margin-right: 0px;
  }
  .article__item__img {
    height: 188px;
    margin-bottom: 20px;
  }
  .article__item__text {
    margin: 10px 0px 10px;
  }
  .article__position .article__list {
    max-width: 340px;
    width: 100%;
    margin-right: 0px;
    justify-content: center;
  }
  .article__position .article__item {
    margin-bottom: 30px;
  }
  /* //Article */
}