@media screen and (min-width: 1201px) {
    /* Order */
  .order__info-bar__text a:hover {
    color: #8cbd28;
  }
  .order__info__preview__name a:hover {
    color: #ACDA53;
  }
  .checkout-user__logout:hover {
      color: #ACDA53;
  }
  /* //Order */
}
/* Cart */
.cart__wrapper {
  position: relative;
}
.cart__wrapper .general-decor-figure {
  width: 318px;
  height: 318px;
  right: -80px;
  top: 50px;
  transform: rotate(116.43deg);
}
.cart__wrapper .main-caption-l {
  margin-top: 50px;
}
.order__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 100px;
}
.order__wrapper .main-button-color-mobile {
  display: none;
}
.order__info {
  width: calc(75% - 25px);
}
.order__info .main-caption-l {
  display: none;
}
.order__info__header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #4F4F4F;
  margin-bottom: 30px;
}
.order__info__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #4F4F4F;
}
.order__info__item:last-child {
  margin-bottom: 0px;
}
.order__info__preview {
  display: flex;
}
.order__info__preview__img {
  flex-shrink: 0;
  width: 100px;
  height: 76px;
  padding: 10px 25px;
  margin-right: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.order__info__preview__descrip {
  display: flex;
  flex-direction: column;
}
.order__info__preview__descrip .product__weight-list {
  position: static;
  transform: none;
  visibility: visible;
  opacity: 1;
  font-size: 14px;
}
.order__info__preview__descrip .product__weight-item {
  margin-right: 7px;
}
.order__info__preview__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: auto;
}
.order__info__preview__name a {
  transition: color 0.4s;
}
.order__info__quantity {
  display: flex;
  justify-content: flex-end;
}
.order__info__price {
  font-size: 16px;
  line-height: 20px;
}
.order__info__price span {
  font-weight: 700;
}
.order-caption,
.order-tablet-version,
.order__mobile-weight {
  display: none;
}
.order__info-bar {
  width: calc(25% - 25px);
  margin-top: -40px;
}
.order__info-bar__wrapper {
  background-color: #333333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 30px;
}
.order__info-bar__wrapper .caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px;
}
.order__info-bar__wrapper .total__item-general {
  padding-top: 20px;
  border-top: 1px solid #E0E0E0;
  color: #ACDA53;
}
.order__info-bar__text {
  margin-top: 30px;
  font-size: 12px;
  line-height: 130%;
  text-transform: uppercase;
}
.order__info-bar__text a {
  color: #ACDA53;
  transition: color 0.4s;
}
.check-bonuse {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.check-bonuse__button {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 45px;
    transition: color .4s;
}
.total-info {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 20px;
}
.total-info.active .info-drop {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0s 0s;
}
.total-info__caption {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    color: #BDBDBD;
}
.info-button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #BDBDBD;
  margin-left: 5px;
  position: relative;
  z-index: 2;
  transition: background-color 0.4s;
}
.info-button::before,
.info-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 3px;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: #333333;
  transform: translateX(-50%);
}
.info-button::after {
  left: 50%;
  top: auto;
  bottom: 4px;
  height: 4px;
  border-radius: 0px;
}
.info-drop {
  position: absolute;
  right: -20px;
  bottom: calc(100% + 20px);
  font-size: 10px;
  line-height: 150%;
  color: #ffffff;
  padding: 20px;
  max-width: 200px;
  background: #333333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0s 0.4s;
  z-index: 1;
}
.info-drop::before {
  content: "";
  position: absolute;
  right: 13px;
  bottom: -29px;
  border: 15px solid transparent;
  border-top-color: #333333;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.05));
}



@media screen and (min-width: 1068px) {
  /* Cart */
  .order-position-item {
    width: calc(48% - 5px);
  }
  .order-position-price {
    width: calc(11% - 5px);
    text-align: right;
  }
  .order-position-quantity {
    width: calc(18% - 5px);
    text-align: right;
  }
  .order-position-subtotal {
    width: calc(13% - 5px);
    text-align: right;
  }
  .order-position-last {
    width: calc(5% - 5px);
    text-align: right;
  }
  /* //Cart */
}

@media screen and (max-width: 1330px) {
    /* Cart */
  .delivery__list-option-checkout {
    margin-right: -15px;
  }
  .delivery__list-option-checkout .delivery__item {
    margin-right: 15px;
    width: calc(33.333% - 15px);
  }
  .checkout__item .general-tabs__list {
    font-size: 12px;
  }
  .order__info {
    width: calc(75% - 5px);
  }
  .order__info-bar {
    width: calc(25% - 5px);
  }
  /* //Cart */
}

@media screen and (max-width: 1200px) {
  /* Cart */
  .order__wrapper {
    margin-bottom: 80px;
  }
  .checkout__list {
    flex-direction: column;
    margin-right: 0px;
    margin-top: 50px;
  }
  .checkout__item__noty {
      left: 50%;
      transform: translateX(-50%);
  }
  .checkout__item.noty .checkout__item__header .calc{
    color: #ACDA53;
    text-shadow: 0px 0px 8px rgba(172, 218, 83, 0.45);
  }
  .checkout__item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .checkout__item:last-child {
    margin-bottom: 0px;
  }
  .checkout__item .general-tabs__list {
    margin-top: 30px;
    font-size: 14px;
  }
  .checkout__item .general-tabs__item {
    margin-right: 30px;
  }
  .checkout__item__header {
    display: flex;
    align-items: center;
  }
  .checkout__item__header .calc {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px;
  }
  .checkout_form__wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: -20px;
  }
  .checkout_form__wrapper .input__wrapper {
    width: calc(50% - 10px);
  }
  .checkout_form__wrapper .button-nav {
    margin-top: 0px;
    margin-left: 0px;
  }
  .delivery__list-option-checkout {
    justify-content: space-between;
  }
  .delivery__list-option-checkout .delivery__item {
    width: calc(33.333% - 10px);
    margin-right: 0px;
  }
  .checkout__item__address {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: -20px;
  }
  .checkout__item__address .input__wrapper {
    width: calc(50% - 10px);
  }
  .delivery__list-payment-checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 300px;
  }
  .delivery__list-payment-checkout .text {
    font-size: 14px;
    line-height: 17px;
  }
  .delivery__list-payment-checkout .delivery__item {
    width: calc(50% - 10px);
  }
  .delivery__list-payment-checkout .delivery__item:last-child {
    margin: 0px;
  }
  .delivery__list-payment-checkout .delivery__item__img {
    margin-right: 20px;
  }
  .checkout__item__footer {
    align-items: flex-start;
    flex-direction: column;
  }
  .checkout__item__footer .main-button-color {
    margin: 30px 0px 0px;
    max-width: 100%;
  }
  /* //Cart */
}

@media screen and (max-width: 1067px) {
      /* Cart */
  .cart__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    right: 0px;
    top: 0px;
    transform: rotate(-19.27deg);
  }
  .order__info {
    margin-right: 10px;
  }
  .order__info__header {
    margin-bottom: 20px;
  }
  .order__info__name {
    display: none;
  }
  .order__info__name:first-child {
    display: block;
  }
  .order__info__item {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .order__delete {
    position: absolute;
    left: 0px;
    bottom: 20px;
  }
  .order__info__preview__img {
    width: 102px;
    height: 130px;
    padding: 10px;
  }
  .order__info__preview__name {
    margin-bottom: 20px;
  }
  .order__info__preview__descrip .product__weight-item {
    margin-right: 25px;
  }
  .order__info__preview__descrip .product__weight-item:last-child {
    margin-right: 0px;
  }
  .order__info__price .order-caption {
    display: block;
  }
  .order-caption {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 20px;
  }
  .order-tablet-version {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .order-tablet-version .order__info__price {
    display: flex;
  }
  .order-tablet-version .order__info__quantity {
    display: flex;
  }
  .order__info__quantity {
    display: none;
  }
  .order__info__price.order-position-price {
    display: none;
  }
  .order__info__price-subtotal {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    max-width: 445px;
    width: 100%;
  }
  .order__info-bar {
    width: 276px;
    flex-shrink: 0;
  }
  /* //Cart */
}

@media screen and (max-width: 767px) {
      /* Cart */
  .cart__wrapper > .main-caption-l {
    display: none;
  }
  .cart__wrapper .general-decor-figure {
    right: -60px;
    top: -60px;
    transform: rotate(145.06deg);
  }
  .order__wrapper {
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .order__wrapper .main-button-color-mobile {
    display: flex;
    margin-top: 20px;
    max-width: 100%;
  }
  .order__info {
    width: 100%;
  }
  .order__info .main-caption-l {
    display: block;
  }
  .order__info__header {
    padding-bottom: 10px;
  }
  .order__info__header .order__info__name {
    display: none;
  }
  .order__info__preview__img {
    width: 75px;
    height: 75px;
    padding: 10px 15px;
  }
  .order__info__preview__descrip .product__weight-list {
    display: none;
  }
  .order__info__preview__name {
    margin-bottom: 0px;
  }
  .order-tablet-version .order__info__quantity {
    display: none;
  }
  .order__info__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 100%;
    width: 100%;
  }
  .order__info__quantity .order-caption {
    display: block;
  }
  .order__info__price-subtotal {
    justify-content: space-between;
    margin-top: 20px;
    max-width: 100%;
  }
  .order__delete {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    width: 100%;
    position: static;
    margin-top: 20px;
  }
  .delete-button {
      font-size: 18px;
  }
  .order__mobile-weight {
    display: block;
    margin-top: 30px;
  }
  .order__mobile-weight .product__weight-list {
    font-size: 16px;
  }
  .order__mobile-weight .product__weight-item {
    margin-right: 10px;
  }
  .order-caption {
    font-size: 14px;
  }
  .order__info-bar {
    order: -1;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .order__info-bar__wrapper {
    padding: 20px;
  }
  .order__info-bar__text {
    margin-top: 20px;
  }
  .checkout__wrapper-cart.disabled {
    display: none;
  }
  .checkout__wrapper-cart:not(.disabled) {
      display: block;
      animation: checkout-opacity .6s;
  }
  @keyframes checkout-opacity {
      0% {
          opacity: 0;
      }
      
      100% {
          opacity: 1;
      }
  }
  .checkout__wrapper-cart .main-caption-l{
      font-size: 24px;
      line-height: 29px;
  }
  .checkout__wrapper .general-decor-figure {
    top: 50%;
    right: -50px;
    width: 188px;
    height: 188px;
    transform: rotate(145.06deg);
  }
  .checkout__list {
    margin-top: 20px;
  }
  .cart__wrapper .main-caption-l {
    margin-top: 0px;
  }
  .checkout__item__header {
    padding-bottom: 10px;
  }
  .checkout__item {
    margin-bottom: 30px;
  }
  .checkout__item__noty {
      top: -60px;
      left: auto;
      right: 30px;
      transform: none;
  }
  .checkout__item .general-tabs__list {
    margin: 20px 0px;
  }
  .checkout_form__wrapper {
      flex-direction: column;
      margin-bottom: 0px;
  }
  .checkout_form__wrapper .input__wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
  .checkout_form__wrapper .button-nav {
      margin-left: auto;
      margin-bottom: 10px;
  }
  .delivery__list-option-checkout {
    flex-direction: column;
    margin-right: 0px;
  }
  .delivery__list-option-checkout .delivery__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .delivery__list-option-checkout .delivery__item:last-child {
    margin-bottom: 0px;
  }
  .checkout__item__address .input__wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
  .chckout__item__shipping-info .delivery__list {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .chckout__item__shipping-info .delivery__item {
    width: 100%;
  }
  .chckout__item__shipping-info > p {
    margin-bottom: 20px;
  }
  .checkout__item__anonympus {
    margin-top: 20px;
  }
  .checkout__item__anonympus p {
    margin-bottom: 20px;
  }
  .delivery__list-payment-checkout {
    max-height: initial;
  }
  .delivery__list-payment-checkout .delivery__item {
    width: 100%;
  }
  .delivery__list-payment-checkout .delivery__item .text {
    font-size: 10px;
    line-height: 12px;
  }
  .checkout__item__footer .main-button-color {
    margin-top: 20px;
  }
  /* //Cart */
}

@media screen and (max-width: 576px) {
      /* Cart */
  .checkout__item .general-tabs__item {
    text-align: center;
    margin-right: 5px;
  }
  /* //Cart */
}