/* Checkout-user */
.checkout-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout-user__container {
    display: flex;
    align-items: center;
}
.checkout-user__img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.checkout-user__name {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.checkout-user__active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 6px;
    color: #ACDA53;
    border: 1px solid #4F4F4F;
    margin-left: 10px;
}
.checkout-user__logout {
    font-family: Impact,sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: color .4s;
}
/* //Checkout-user */
.chckout__item__shipping-info {
  font-size: 14px;
  line-height: 150%;
  margin-top: 30px;
}
.chckout__item__shipping-info > p {
  margin-bottom: 30px;
}
.chckout__item__shipping-info > p:last-child {
  margin-bottom: 0px;
}
.chckout__item__shipping-info .caption {
  font-size: 14px;
  font-weight: 700;
  font-weight: 400;
}
.chckout__item__shipping-info .delivery__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.chckout__item__shipping-info .delivery__item {
  width: calc(50% - 5px);
  font-size: 14px;
  padding-left: 15px;
}
.chckout__item__shipping-info .delivery__item::before {
  display: block;
}
.checkout__item__anonympus {
  color: #E0E0E0;
  margin-top: 30px;
}
.checkout__item__anonympus .checkout-caption {
  color: #FFFFFF;
}
.checkout__item__anonympus p {
  margin-bottom: 30px;
}
.checkout__item__anonympus p:last-child {
  margin-bottom: 0px;
}
.checkout__item__footer {
  display: flex;
  align-items: center;
}
.checkout__item__footer .main-button-color {
  max-width: 203px;
  margin-left: 20px;
}
.bonuses__container {
    margin: 20px 0px;
    padding: 20px 0px 10px;
    border-top: 1px solid #4F4F4F;
    border-bottom: 1px solid #4F4F4F;
}
/* //Cart */