/* Checkout */
.checkout__list {
  display: flex;
  margin-right: -50px;
  margin-top: 30px;
}
.checkout__item {
  width: calc(33.333% - 50px);
  margin-right: 50px;
  opacity: 0.6;
  position: relative;
}
.checkout__item.noty .checkout__item__noty{
    opacity: 1;
}
.checkout__item.noty .checkout__item__header .caption {
    color: #ACDA53;
    text-shadow: 0px 0px 8px rgba(172, 218, 83, 0.45);
}
.checkout__item__noty {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    padding: 20px;
    background: #ACDA53;
    box-shadow: 0px 0px 8px rgba(172, 218, 83, 0.45);
    border-radius: 20px;
    max-width: 229px;
    width: 100%;
    position: absolute;
    right: 40px;
    top: -80px;
    opacity: 0;
    transition: opacity .4s;
}
.checkout__item__noty::before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -28px;
    border: 15px solid transparent;
    border-top-color: #ACDA53;
    filter: drop-shadow(0px 2px 3px rgba(172, 218, 83, 0.45));
}
.checkout__item .checkout__item__header {
    pointer-events: none;
}
.checkout__item  .checkout__item__body {
    pointer-events: none;
}
.checkout__item .checkout__item__footer {
    pointer-events: none;
}
.checkout__item .general-tabs__list {
  font-size: 14px;
  line-height: 17px;
  margin-top: 50px;
  margin-bottom: 23px;
}
.checkout__item .general-tabs__item {
  margin-right: 18px;
}
.checkout__item .general-tabs__item:last-child {
  margin-right: 0px;
}
.checkout__item.active {
  opacity: 1;
}
.checkout__item.active .checkout__item__header,
.checkout__item.active  .checkout__item__body,
.checkout__item.active .checkout__item__footer {
    pointer-events: painted;
}
.checkout__item:not(.active) .delivery__item__img {
  filter: grayscale(1);
}
.checkout__item:not(.active) .checkout__item__footer .main-button-color {
  filter: grayscale(1);
}
.checkout__item__header {
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px;
}
.checkout__item__header .calc {
  display: none;
}
.checkout__item__header .caption {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  transition: color .4s;
}
.checkout-caption {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.checkout-caption-information {
  color: #ACDA53;
}
.checkout__item__body {
  font-size: 14px;
  line-height: 150%;
}
.checkout__item__body .delivery__list {
  margin-bottom: 30px;
}
.checkout__item__body .delivery__item {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  padding-left: 0px;
}
.checkout__item__body .delivery__item p span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
.checkout__item__body .delivery__item::before {
  display: none;
}
.checkout__item__body .delivery__list-option {
  margin-top: 20px;
}
.delivery__list-option-checkout .delivery__item {
    width: calc(33.333% - 30px);
}
.delivery__list-payment-checkout .delivery__item__img {
  width: 111px;
  height: 53px;
  border-radius: 10px;
}
.delivery__list-payment-checkout .input__wrapper-radio {
  display: flex;
  align-items: center;
}
.delivery__list-payment-checkout .text {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
}
.delivery__list-payment-checkout .delivery__item {
  margin-bottom: 20px;
}
.delivery__list-payment-checkout .delivery__item:last-child {
  margin-top: 35px;
}
.checkout_form__wrapper {
  display: flex;
  flex-direction: column;
}
.checkout_form__wrapper .button-nav {
  margin-top: -10px;
  margin-left: auto;
}
