/* Earn */
.earn {
  margin-bottom: 100px;
}
.earn__wrapper {
  position: relative;
}
.earn__wrapper .general-decor-figure {
  width: 406px;
  height: 406px;
  transform: rotate(138.39deg);
  right: -93px;
  top: 800px;
}
.earn__wrapper .general-decor-figure:nth-child(2) {
  right: 180px;
  top: auto;
  bottom: -350px;
}
.earn__wrapper .general-decor-text {
  white-space: nowrap;
  left: auto;
  right: 0px;
  top: 400px;
  transform: none;
}
.main-button-color.main-button-color-earn {
  margin-top: 20px;
}
.earn__compensation {
  margin-top: 50px;
}
.earn__compensation__list {
  display: flex;
  margin-right: -30px;
  margin-top: 35px;
}
.earn__compensation__item {
  width: calc(33.333% - 60px);
  margin-right: 60px;
  font-size: 14px;
  line-height: 17px;
  color: #E0E0E0;
}
.earn__compensation__item p {
  margin-bottom: 20px;
}
.earn__compensation__item p:last-child {
  margin-bottom: 0px;
}
.earn__compensation__item .main-caption-s {
  text-transform: initial;
  margin-top: 15px;
  margin-bottom: 10px;
}
.earn__partner-programm {
  margin-top: 80px;
  font-size: 16px;
  line-height: 150%;
  color: #E0E0E0;
  max-width: 800px;
}
.earn__partner-programm .main-caption-l {
  margin-bottom: 20px;
  color: #FFFFFF;
}
.earn__partner-programm p {
  margin-bottom: 30px;
}
.earn__partner-programm p:last-of-type {
  margin-bottom: 0px;
}
.earn__partner-programm h6 {
  font-size: 16px;
  line-height: 150%;
  color: #ACDA53;
  margin-top: 30px;
}
.earn__how-works {
  margin-top: 50px;
}
.earn__how-works__list {
  display: flex;
  margin-top: 30px;
  margin-right: -60px;
}
.earn__how-works__item {
  width: calc(33.333% - 60px);
  margin-right: 60px;
  font-size: 14px;
  line-height: 17px;
  color: #E0E0E0;
  position: relative;
}
.earn__how-works__item:last-child::before {
  display: none;
}
.earn__how-works__item::before {
  content: "";
  position: absolute;
  right: -29px;
  top: 0px;
  width: 1px;
  height: 100%;
  background-color: #4F4F4F;
}
.earn__how-works__item .main-caption-s {
  text-transform: initial;
  margin-bottom: 10px;
  color: #FFFFFF;
}
.earn__how-works__item ul {
  margin-top: 10px;
}
.earn__how-works__item p {
  margin-bottom: 20px;
}
.earn__how-works__item p:last-of-type {
  margin-bottom: 0px;
}
.earn__how-works__item li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
}
.earn__how-works__item li:last-child {
  margin-bottom: 0px;
}
.earn__how-works__item li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E0E0E0;
}
.earn__how-works__item li p {
  margin-bottom: 10px;
}
.earn__how-works__item li p:last-child {
  margin-bottom: 0px;
}
.earn__how-works__item .number-wrapper .number {
  font-family: "Impact", sans-serif;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.05em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ACDA53;
}
.earn__text {
  margin-top: 50px;
  font-size: 16px;
  line-height: 150%;
  max-width: 800px;
}
.earn__text p {
  margin-bottom: 30px;
}
.earn__text p:last-child {
  margin-bottom: 0px;
}
.earn__text p:first-child::before {
  content: "*";
  color: #ACDA53;
  display: inline-block;
  margin-right: 2px;
}

.general-decor-caption {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
 justify-content: center;
 align-items: center;
}
.general-decor-caption::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #4F4F4F;
  transform: rotate(-45deg);
}
.general-decor-caption .img {
    width: 22px; 
    height: 20px;
    background-position: -15px -72px;
}
.img.orders {
    width: 22px; 
    height: 20px;
    background-position: -69px -15px;
}
.img.discounts {
    width: 24px; 
    height: 24px;
    background-position: -15px -15px;
}
.img.money {
    width: 22px;
    height: 20px;
    background-position: -15px -69px;
}


@media screen and (max-width: 1024px) {
      /* Earn */
  .earn {
    margin-bottom: 80px;
  }
  .earn__wrapper {
    position: relative;
  }
  .earn__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(-54.64deg);
    right: -60px;
    top: 900px;
  }
  .earn__wrapper .general-decor-figure:nth-child(2) {
    display: none;
  }
  .earn__wrapper .general-decor-text {
    left: 40px;
    right: auto;
  }
  .earn__compensation__list {
    margin-right: -20px;
  }
  .earn__compensation__item {
    width: calc(33.333% - 20px);
    margin-right: 20px;
  }
  .earn__partner-programm {
    margin-top: 50px;
    max-width: 100%;
  }
  .earn__how-works__list {
    margin-right: -20px;
  }
  .earn__how-works__item {
    width: calc(33.333% - 20px);
    margin-right: 20px;
  }
  .earn__how-works__item::before {
    display: none;
  }
  .earn__text {
    max-width: 100%;
  }
  /* //Earn */
}

@media screen and (max-width: 767px) {
  /* Earn */
  .earn {
    margin-bottom: 50px;
  }
  .earn__wrapper .general-decor-figure {
    width: 188px;
    height: 188px;
    transform: rotate(153.87deg);
    right: auto;
    left: -60px;
  }
  .earn__wrapper .general-decor-figure:nth-child(2) {
    display: block;
    transform: rotate(149.21deg);
    right: -25px;
    left: auto;
    bottom: 500px;
  }
  .earn__wrapper .general-decor-text {
    display: none;
  }
  .earn__compensation {
    margin-top: 30px;
  }
  .earn__compensation__list {
    flex-direction: column;
    margin-right: 0px;
    margin-top: 25px;
  }
  .earn__compensation__item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 130%;
  }
  .earn__compensation__item:last-child {
    margin-bottom: 0px;
  }
  .earn__partner-programm .main-caption-l {
    margin-bottom: 10px;
  }
  .earn__partner-programm h6 {
    margin-top: 20px;
  }
  .earn__how-works {
    margin-top: 30px;
  }
  .earn__how-works__list {
    flex-direction: column;
    margin-right: 0px;
    margin-top: 20px;
  }
  .earn__how-works__item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .earn__how-works__item:last-child {
    margin-bottom: 0px;
  }
  .main-button-color.main-button-color-earn {
    margin-top: 10px;
  }
  /* //Earn */
}