
@media screen and (min-width: 1201px) {
    /* Faq */
  .faq__item__header:hover {
    color: #ACDA53;
  }
  /* /Faq */
}
/* Faq */
.faq__wrapper {
  position: relative;
}
.faq__wrapper .general-decor-figure {
  width: 406px;
  height: 406px;
  transform: rotate(138.39deg);
  right: -15px;
  top: 300px;
}
.faq__text {
  font-size: 14px;
  line-height: 150%;
  margin-top: 20px;
  max-width: 800px;
}
.faq__container {
  max-width: 900px;
  margin: 50px auto 0px;
  padding: 10px 30px 30px;
  border-radius: 30px;
  background-color: #333333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.faq__item {
  border-bottom: 1px solid #4F4F4F;
}
.faq__item.active .faq__item__body {
  display: block;
  animation: faq-opacity 0.6s;
}
.faq__item.active .faq__item__header .icon-drop {
  transform: rotate(0deg);
}
@keyframes faq-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.faq__item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  cursor: pointer;
  user-select: none;
  transition: color 0.4s;
}
.faq__item__header .name {
  font-size: 16px;
  line-height: 150%;
}
.faq__item__header .icon-drop {
  height: 6px;
  font-size: 4px;
  transform: rotate(-180deg);
  transition: transform 0.4s;
}
.faq__item__body {
  display: none;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 20px;
}
.faq__item__body p {
  margin-bottom: 30px;
}
.faq__item__body p:last-child {
  margin-bottom: 0px;
}
/* //Faq */

@media screen and (max-width: 1024px) {
      /* Faq */
  .faq__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(-42.48deg);
    right: -15px;
    top: 50px;
  }
  .faq__text {
    margin-top: 50px;
  }
  .faq__container {
    margin-top: 20px;
    padding: 20px;
  }
  /* //Faq */
}

@media screen and (max-width: 767px) {
  /* Faq */
  .faq__wrapper .general-decor-figure {
    display: none;
  }
  .faq__text {
    margin-top: 20px;
  }
  .faq__container {
    margin-top: 30px;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
  }
  .faq__item__header .name {
    margin-right: 10px;
  }
  .faq__item__body p {
    margin-bottom: 25px;
  }
  /* //Faq */
}