@media screen and (min-width: 1201px) {
  /* Header */
  .header__link:hover,
  .header__item__drop .wrapper:hover,
  .header__drop-link:hover,
  .header__nav-profile__item:hover,
  .header__search__button:hover,
  .header__livesearch-item:hover {
    color: #ACDA53;
  }
  /* Header */
  /* Main banner */
  .main-banner__nav__button:hover {
    color: #E0E0E0;
  }
  /* //Main banner */
  /* Clients say */
  .clients-say__info__more:hover {
    color: #ACDA53;
  }
  /* //Clients say */
}

/* Choose kratom */
.choose-kratom {
  margin-top: 100px;
}
.choose-kratom__wrapper {
  display: flex;
}
.choose-kratom__info {
  max-width: 410px;
  width: 100%;
  margin-right: 30px;
  margin-top: 50px;
}
.choose-kratom__info .main-caption {
  text-align: left;
}
.choose-kratom__info span {
  display: block;
  color: #E0E0E0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 50px;
}
.choose-kratom__container {
  max-width: 850px;
  width: 100%;
  display: flex;
  background-color: #333333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 50px;
}
.choose-kratom__filter__item {
  margin-bottom: 20px;
}
.choose-kratom__filter__select {
  display: flex;
  align-items: center;
}
.choose-kratom__filter .main-button-color {
  margin-top: 30px;
  max-width: 160px;
  height: 48px;
}
.choose-kratom__point,
.choose-kratom__filter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #4F4F4F;
  flex-shrink: 0;
}
.choose-kratom__point {
  margin-right: 20px;
  position: relative;
}
.choose-kratom__point .point-decor__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border: 1px solid #ACDA53;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.4s;
}
.choose-kratom__point .point-decor__inner {
  display: flex;
  width: 11px;
  height: 11px;
  flex-shrink: 0;
}
.choose-kratom__point .point-decor__inner::before,
.choose-kratom__point .point-decor__inner::after {
  content: "";
  height: 11px;
  width: 6px;
  background-color: #ACDA53;
}
.choose-kratom__point .point-decor__inner::before {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.choose-kratom__point .point-decor__inner::after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: opacity 0.4s;
}
.choose-kratom__point.active-half:not(.active) .point-decor__wrapper {
  opacity: 1;
}
.choose-kratom__point.active-half:not(.active) .point-decor__inner::after {
  opacity: 0;
}
.choose-kratom__point.active.active-half .point-decor__inner::after {
  opacity: 1;
}
.choose-kratom__point.active .point-decor__wrapper {
  opacity: 1;
}
.choose-kratom__filter__button {
  color: #E0E0E0;
  transition: color 0.4s;
}
.choose-kratom__filter__button:first-child {
  margin-right: 20px;
}
.choose-kratom__filter__button .icon-minus {
  font-size: 2px;
}
.choose-kratom__filter__button .icon-plus {
  font-size: 8px;
  margin-left: 1px;
}
.choose-kratom__filter__item .caption {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.choose-kratom__table__wrapper {
  margin-left: auto;
}
.choose-kratom__table {
  width: 328px;
  height: 205px;
  border-left: 1px solid #4F4F4F;
  border-bottom: 1px solid #4F4F4F;
  position: relative;
  margin-top: 41px;
}
.choose-kratom__table::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -41px;
  height: 41px;
  width: 1px;
  background-color: #4F4F4F;
}
.choose-kratom__table__point {
  position: absolute;
  left: 47px;
  bottom: 0px;
  width: 40px;
  height: 100%;
  background: linear-gradient(169.01deg, #ACDA53 0%, rgba(172, 218, 83, 0) 100%);
  transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.choose-kratom__table__point .point {
  width: calc(100% - 2px);
  height: calc(100% - 1px);
  position: relative;
  left: 1px;
  top: 1px;
  background: linear-gradient(169.01deg, #3D4234 0%, #333333 100%);
}
.choose-kratom__table__point.relaxation {
  left: 149px;
}
.choose-kratom__table__point.euphoria {
  left: auto;
  right: 36px;
}
.choose-kratom__table__grid {
  width: 100%;
  height: 41px;
  border-top: 1px solid rgba(79, 79, 79, 0.5);
  border-bottom: 1px solid rgba(79, 79, 79, 0.5);
}
.choose-kratom__table__list {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  color: #828282;
  padding: 8px 25px 0px 30px;
}
.choose-kratom__table__item:nth-child(2) {
  margin: 0px 40px 0px 30px;
}
/* //Choose kratom */
/* Clients say */
.clients-say {
  position: relative;
  margin-top: 100px;
}
.clients-say__wrapper .main-button {
  max-width: 218px;
}
.clients-say__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 65px;
  width: 100%;
  height: 226px;
  z-index: -1;
}
.clients-say__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.clients-say__caption {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.clients-say__buttons {
  display: flex;
  align-items: center;
  max-width: 440px;
  width: 100%;
}
.clients-say__buttons .main-button-color {
  max-width: 204px;
}
.clients-say__button {
  background-color: transparent;
  margin-left: 30px;
  border: 1px solid #E0E0E0;
}
.clients-say__button::before {
  background-color: rgba(224, 224, 224, 0.25);
  left: -80%;
  top: 62%;
}
.clients-say__list {
  display: flex;
  margin-top: 50px;
  height: 306px;
  position: relative;
  transition: transform .6s;
}
.clients-say__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  position: absolute;
  margin-right: 30px;
  opacity: 0;
  transform: translateX(calc(-100% - 30px));
  transition: transform 0.6s, opacity 0.4s;
}
.clients-say__item > div {
    width: 100%;
}
.clients-say__item.show {
  opacity: 1;
  transform: translateX(0);
}
.clients-say__item.show + .clients-say__item {
  opacity: 1;
  transform: translateX(calc(100% + 30px));
}
.clients-say__item.show + .clients-say__item + .clients-say__item {
  opacity: 1;
  transform: translateX(calc(200% + 60px));
}
.clients-say__item.show + .clients-say__item + .clients-say__item + .clients-say__item {
  opacity: 1;
  transform: translateX(calc(300% + 90px));
}
.clients-say__item.show + .clients-say__item + .clients-say__item + .clients-say__item ~ .clients-say__item {
  opacity: 0;
  transform: translateX(calc(400% + 120px));
}
.clients-say__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 195px;
  width: 100%;
  font-size: 14px;
  line-height: 150%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #333333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.clients-say__info__text {
  margin-top: 20px;
  margin-bottom: 5px;
  max-height: 84px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-overflow: ellipsis;
}
.clients-say__info__more {
  display: none;
  color: #828282;
  transition: color 0.4s;
}
.clients-say__info__more.show {
  display: block;
}
.clients-say__item__img {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.clients-say__item__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
  text-align: center;
}
.clients-say__item__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* // Clients say */
/* Follow us */
.follow-us {
  margin-top: 100px;
}
.follow-us__wrapper {
  position: relative;
}
.follow-us__wrapper .main-caption {
  position: absolute;
  left: 75px;
  top: 0px;
  text-align: left;
}
.follow-us__wrapper .general-decor-figure {
  width: 318px;
  height: 318px;
  left: -70px;
  top: -50px;
}
.follow-us__wrapper .general-decor-text {
  width: 100%;
  text-align: right;
  top: -70px;
}
.follow-us__container {
  display: flex;
  justify-content: center;
}
.follow-us__phone {
  width: 161px;
  height: 328px;
  border-radius: 30px;
  background-color: #333333;
  position: relative;
  box-shadow: 4px 12px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: auto;
  margin-left: 110px;
  bottom: -50px;
  right: -30px;
  z-index: 2;
}
.follow-us__phone::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 10px;
  width: 82px;
  height: 11px;
  background-color: #333333;
  border-radius: 0px 0px 25px 25px;
  transform: translateX(-50%);
  z-index: 2;
}
.follow-us__tablet {
  position: relative;
  background-color: #333333;
  box-shadow: 4px 12px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 593px;
  height: 370px;
  padding: 20px;
}
.follow-us__tablet .follow-us__list {
  left: 20px;
  top: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 0px;
}
.follow-us__list {
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 20px;
  overflow: hidden;
}
.follow-us__item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.6s;
}
.follow-us__item.show {
  opacity: 1;
}
.follow-us__social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  width: 100%;
  margin-left: 25px;
}
.follow-us__social-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.follow-us__social-item {
  margin-bottom: 30px;
}
.follow-us__social-item:last-child {
  margin-bottom: 0px;
}
.follow-us__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}

/* //Follow us */
/* Main banner */
.main-banner {
  position: relative;
  margin-bottom: 50px;
}
.main-banner .general-decor-text {
  top: 130px;
  white-space: nowrap;
}
.main-banner .general-decor-figure {
  right: 90px;
  top: 20px;
}
.main-banner__arrows {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 65px;
}
.main-banner__nav {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E0E0E0;
}
.main-banner__nav__button {
  color: #4F4F4F;
  transition: color 0.4s;
  position: relative;
}
.main-banner__nav__button::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -5px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transition: background-color 0.4s;
}
.main-banner__nav__button.active {
  color: #E0E0E0;
}
.main-banner__nav__button.active::before {
  background-color: #E0E0E0;
}
.main-banner__nav__button {
  margin-right: 20px;
}
.main-banner__nav__button:last-child {
  margin-right: 0px;
}
.main-banner__list {
  position: relative;
  height: 510px;
}
.main-banner__img {
  width: 100%;
  height: 262px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s;
}
.main-banner__info {
  font-family: "Impact", sans-serif;
  position: relative;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding-top: 90px;
  padding-left: 157px;
  max-width: 870px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: translate3d(0, -150%, 0);
}
.main-banner__info__descrip {
  font-size: 96px;
  line-height: 117px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  font-weight: 400;
}
.main-banner__info__descrip-sub {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 20px;
  font-weight: 400;
}
.main-banner__item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main-banner__item.show {
  position: relative;
  z-index: 1;
}
.main-banner__item.show .main-banner__info {
  animation-name: main-slider;
}
.main-banner__item.show .main-banner__img {
  opacity: 1;
}
@keyframes main-slider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -120%, 0);
    -ms-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
/* //Main banner */

@media screen and (max-width: 1200px) {
    /* Main banner */
  .main-banner {
    margin-bottom: 36px;
  }
  .main-banner .general-decor-figure {
    width: 245px;
    height: 245px;
    top: 50px;
    right: 50px;
  }
  .main-banner .general-decor-text {
    top: 100px;
  }
  .general-decor-text__list {
    top: 90px;
    right: 65px;
  }
  .main-banner__info {
    padding-left: 20px;
    padding-top: 50px;
    max-width: 505px;
  }
  .main-banner__info__descrip {
    font-size: 64px;
    line-height: 78px;
  }
  .main-banner__list {
    height: 360px;
  }
  .main-banner__img {
    height: 180px;
  }
  /* //Main banner */
  
  /* Choose kratom */
  .choose-kratom {
    margin-top: 80px;
  }
  .choose-kratom__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .choose-kratom__info {
    margin: 0px;
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
  }
  .choose-kratom__info span {
    text-align: left;
  }
  /* //Choose kratom */
    /* Follow us */
  .follow-us {
    margin-top: 160px;
  }
  .follow-us__wrapper .general-decor-text {
    left: 0px;
  }
  /* //Follow us */
  
    /* Clients say */
  .clients-say {
    margin-top: 80px;
  }
  .clients-say__img {
    top: 80px;
  }
  .clients-say__header {
    margin-top: 100px;
  }
  .clients-say__button {
    background-color: transparent;
  }
  /* //Clients say */
}

@media screen and (max-width: 1024px) {
      /* Main slider */
  .main-banner__arrows {
    margin-top: 25px;
    margin-right: 20px;
  }
  .main-banner__nav {
    margin: 0px;
  }
  /* //Main slider */
  /* Choose kratom */
  .choose-kratom__container {
    padding: 30px 30px 90px;
    position: relative;
  }
  .choose-kratom__filter .main-button-color {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
  }
  .choose-kratom__filter__item {
    margin-bottom: 15px;
  }
  .choose-kratom__filter__button {
    width: 48px;
    height: 48px;
  }
  .choose-kratom__filter__button:first-child {
      margin-right: 20px;
  }
  .choose-kratom__filter__button .icon-plus {
    font-size: 12px;
  }
  .choose-kratom__filter__button .icon-minus {
    font-size: 3px;
  }
  .choose-kratom__filter__button:last-of-type {
    margin-left: 10px;
  }
  .choose-kratom__point {
    margin-right: 10px;
  }
  /* //Choose kratom */
    /* Follow us */
  .follow-us__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    left: -75px;
    top: -155px;
  }
  .follow-us__wrapper .main-caption {
    top: -75px;
    left: 25px;
  }
  .follow-us__container {
    margin-left: -30px;
  }
  .follow-us__phone {
    width: 127px;
    height: 260px;
    margin-left: 0px;
    padding: 8px;
    bottom: -30px;
    flex-shrink: 0;
  }
  .follow-us__phone::before {
    width: 64px;
    height: 8px;
    top: 8px;
  }
  .follow-us__tablet {
    width: 486px;
    height: 301px;
    padding: 18px;
    flex-shrink: 0;
  }
  .follow-us__tablet .follow-us__list {
    left: 18px;
    top: 18px;
    width: calc(100% - 36px);
    height: calc(100% - 36px);
    border-radius: 0px;
  }
  .follow-us__list {
    left: 8px;
    top: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
  }
  .follow-us__arrows {
    bottom: -20px;
  }
  .follow-us__social-wrapper {
    margin-left: 35px;
    max-width: 110px;
    flex-shrink: 0;
  }
  .follow-us__social-item {
    margin-left: -10px;
  }
  /* //Follow us */
    /* Clients say */
  .clients-say__item {
    width: 230px;
    transform: translateX(calc(-100% - 20px));
  }
  .clients-say__item.show {
    opacity: 1;
    transform: translateX(0);
  }
  .clients-say__item.show + .clients-say__item {
    opacity: 1;
    transform: translateX(calc(100% + 20px));
  }
  .clients-say__item.show + .clients-say__item + .clients-say__item {
    opacity: 1;
    transform: translateX(calc(200% + 40px));
  }
  .clients-say__item.show + .clients-say__item + .clients-say__item + .clients-say__item {
    opacity: 1;
    transform: translateX(calc(300% + 60px));
  }
  .clients-say__item.show + .clients-say__item + .clients-say__item + .clients-say__item ~ .clients-say__item {
    opacity: 0;
    transform: translateX(calc(400% + 80px));
  }
  .clients-say__info {
    padding: 20px;
    height: 190px;
  }
  .clients-say__info__text {
    line-height: 130%;
    margin-top: 10px;
    max-height: 90px;
    -webkit-line-clamp: 5;
  }
  /* //Clients say */
}

@media screen and (max-width: 767px) {
    /* Main banner */
  .main-banner {
    margin-bottom: 10px;
  }
  .main-banner__info__descrip-sub {
    font-size: 16px;
  }
  .main-banner__info__descrip {
    font-size: 48px;
    line-height: 110%;
  }
  .main-banner__item {
      padding: 0px 20px;
  }
  .main-banner__img {
    height: 156px;
  }
  .main-banner__info {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-left: 0px;
  }
  .main-banner__item .main-button-color {
      margin-top: auto;
      margin-bottom: 70px;
  }
  /* //Main banner */
  /* Choose kratom */
  .choose-kratom {
    margin-top: 50px;
  }
  .choose-kratom__info span {
    font-size: 16px;
    margin-top: 20px;
  }
  .choose-kratom__container {
    justify-content: center;
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
  }
  .choose-kratom__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .choose-kratom__filter {
    max-width: 280px;
    width: 100%;
  }
  .choose-kratom__filter .main-button-color {
    position: static;
    transform: none;
    max-width: 320px;
  }
  .choose-kratom__filter__item {
    justify-content: center;
    margin-bottom: 20px;
  }
  .choose-kratom__filter__select {
      justify-content: space-between;
  }
  .choose-kratom__table__wrapper {
    display: none;
  }
  /* //Choose kratom */
    /* Follow us */
  .follow-us {
    margin-top: 100px;
  }
  .follow-us__wrapper .general-decor-text {
    display: none;
  }
  .follow-us__tablet {
    width: 300px;
    height: 240px;
  }
  /* //Follow us */
    /* Clients say */
  .clients-say {
    margin-top: 50px;
  }
  .clients-say__img {
    top: 45px;
  }
  .clients-say__header {
    margin-top: 50px;
  }
  /* /Clients say */
}

@media screen and (max-width: 576px) {
      /* Main banner */
  .main-banner {
    margin-top: -20px;
  }
  .main-banner .general-decor-figure {
    width: 152px;
    height: 152px;
    top: 100px;
    right: -25px;
    z-index: 1;
  }
  .main-banner .general-decor-text {
    top: 128px;
    left: 25px;
    max-width: 140px;
  }
  .general-decor-text__list {
    font-size: 8px;
    line-height: 10px;
    top: 185px;
    right: 20px;
  }
  .main-banner__list {
    height: 400px;
  }
  .main-banner__info {
    max-width: 100%;
    padding-top: 62px;
  }
  .main-banner__info__descrip {
    max-width: 320px;
  }
  .main-banner__info .main-button-color {
    max-width: 182px;
    margin: 0px auto;
  }
  .main-banner__nav {
    font-size: 12px;
  }
  .main-banner__nav__button {
    margin-right: 10px;
  }
  .main-banner__item .main-button-color {
      margin: auto auto 70px;
  }
  /* /Main banner */
  /* Follow us */
  .follow-us {
    margin-top: 50px;
  }
  .follow-us__wrapper .main-caption {
    top: 0px;
    left: 20px;
  }
  .follow-us__wrapper .general-decor-figure {
    width: 189px;
    height: 189px;
    left: -60px;
    top: -60px;
  }
  .follow-us__container {
    margin-left: 0px;
    justify-content: space-between;
  }
  .follow-us__phone {
    height: 245px;
    margin: 0px;
    right: 0px;
    bottom: 0px;
  }
  .follow-us__tablet {
    display: none;
  }
  .follow-us__social-wrapper {
    order: -1;
    margin: 0px 45px 0px 0px;
  }
  .follow-us__social-list {
    width: 100%;
    align-items: flex-start;
    margin-top: 30px;
  }
  .follow-us__social-item {
    margin-left: 0px;
  }
  .follow-us__arrows {
    display: none;
  }
  /* //Follow us */
    /* Clients say */
  .clients-say__wrapper .main-button {
    max-width: 320px;
  }
  .clients-say__img {
    height: 246px;
  }
  .clients-say__buttons {
    flex-direction: column;
    align-items: center;
  }
  .clients-say__buttons .main-button-color {
    max-width: 320px;
  }
  .clients-say__button {
    margin: 10px 0px 0px;
  }
  .clients-say__list {
    margin-top: 20px;
  }
  .clients-say__item {
    width: 100%;
  }
  .clients-say__info {
    height: 199px;
    margin-bottom: 10px;
  }
  .clients-say__info__text {
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 84px;
    -webkit-line-clamp: 4;
  }
  /* //Clients say */
}

@media screen and (max-width: 380px) {
  /* Choose kratom */
  .choose-kratom__info {
    align-items: flex-start;
  }
  /* /Choose kratom */
}