@media screen and (min-width: 1201px) {
    /* Reviews */
    
    .reviews__interaction__button:hover {
        color: #ffffff;
    }
  /* //Reviews */
}

/* Reviews */
.reviews {
  margin-top: 50px;
}
.reviews__caprtion {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #4F4F4F;
}
.reviews__caprtion .general-decor-elem {
  margin-right: 10px;
}
.add-reviews {
  padding: 30px;
  background-color: #333333;
  border-radius: 30px;
}
.add-reviews .reviews__caprtion {
  color: #ACDA53;
  margin-bottom: 30px;
}
.add-reviews__item {
  display: flex;
  align-items: flex-start;
  color: #E0E0E0;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
}
.add-reviews__item .icon-man {
  color: #828282;
  margin-right: 15px;
}
.add-reviews__item .icon-reviews-message {
  color: #828282;
  margin-right: 12px;
}
.add-reviews__item p span {
  font-weight: 700;
}
.add-reviews__item .button-enter {
  margin-left: 10px;
}
.add-reviews__active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 6px;
  color: #ACDA53;
  border: 1px solid #4F4F4F;
  margin-left: 10px;
}
.add-reviews__form .wrapper {
  display: flex;
}
.add-reviews__form .main-textarea {
  height: 40px;
}
.add-reviews__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.reviews-img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.reviews__list {
  margin-top: 20px;
}
.reviews__item {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.reviews__item:last-child {
  margin-bottom: 0px;
}
.reviews__item-info {
  width: 100%;
  border-bottom: 1px solid #4F4F4F;
}
.reviews__item-info__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.reviews__item-info__header .name {
  text-transform: uppercase;
  font-weight: 700;
}
.reviews__item-info__header .date {
  color: #BDBDBD;
}
.reviews__item-info__body {
  color: #E0E0E0;
}
.reviews__item-info__footer {
  margin-top: 20px;
  padding-bottom: 15px;
  position: relative;
  height: 34px;
  max-height: 34px;
}
.reviews__item-info__footer .add-reviews__form {
  position: absolute;
  width: 83%;
  right: 0px;
  top: 35px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.4s 0s, visibility 0s 0.4s, transform 0.4s 0s;
}
.reviews__item-info__footer.active {
  height: 147px;
  max-height: 147px;
//   transition: height 0.1s .2s, max-height 0.1s .2s;
}
.reviews__item-info__footer.active .add-reviews__form {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.4s, visibility 0s 0.1s, transform 0.4s;
}
.reviews__item-info__footer.active .reviews__interaction__button-reply {
  color: #FFFFFF;
}
.reviews__item-info__footer.active .reviews__interaction__button-reply .icon-comment::before {
  content: "\e912";
}
.reviews-reply {
    width: 83%;
    margin-left: auto;
    padding-top: 10px;
    border-top: 1px solid #4F4F4F;
}
.reviews-reply.active .reviews__list {
    display: block;
    animation: opacity-reviews .6s;
}
.reviews-reply.active .more-reviews-text .icon-drop{
    transform: rotate(0deg);
}
.reviews-reply .reviews__list {
    display: none;
}
.reviews-reply .reviews__item {
    padding: 0px;
}
.reviews-reply .more-reviews-text {
    margin: 0px 0px 20px;
}
@keyframes opacity-reviews {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
.reviews__interaction {
  display: flex;
  align-items: flex-end;
  height: 18px;
}
.reviews__interaction__button {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  color: #E0E0E0;
  margin-right: 23px;
  transition: color 0.4s;
}
.reviews__interaction__button:first-child {
  align-self: flex-start;
}
.reviews__interaction__button .text {
  text-align: center;
  width: 12px;
  margin-left: 5px;
}
.reviews__interaction__button .icon-like-up,
.reviews__interaction__button .icon-like-down,
.reviews__interaction__button .icon-comment {
  font-size: 14px;
}
.reviews__interaction__button.active {
  color: #FFFFFF;
}
.reviews__interaction__button.active .icon-like-up {
  font-size: 16px;
  height: 14px;
}
.reviews__interaction__button.active .icon-like-up::before {
  content: "\e91d";
}
.reviews__interaction__button.active .icon-like-down {
  font-size: 16px;
  height: 14px;
}
.reviews__interaction__button.active .icon-like-down::before {
  content: "\e91b";
}
.reviews__interaction__button-reply {
  margin-left: 7px;
}
.reviews__interaction__button-reply .text {
  margin-left: 10px;
}
.more-reviews-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  margin-left: 60px;
  margin-top: 10px;
  transition: color 0.4s;
}
.more-reviews-text .text {
  margin-right: 10px;
}
.more-reviews-text .icon-drop {
  font-size: 4px;
  transform: rotate(180deg);
  transition: transform .4s;
}
.reviews__wrapper {
  position: relative;
}
.reviews__wrapper .general-decor-figure {
  width: 406px;
  height: 406px;
  transform: rotate(126.53deg);
  left: -105px;
  bottom: 115px;
}
.reviews__wrapper .general-decor-text {
  white-space: nowrap;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: -2;
}
.reviews__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.reviews__inner {
  max-width: 960px;
  width: 100%;
}
.reviews__inner .reviews-reply {
    margin-top: 20px;
}
.reviews__inner .reviews__item {
  padding: 30px;
  border-radius: 30px;
  background-color: #333333;
}
.reviews-reply .reviews__item {
    padding: 0px;
}
.reviews__inner .reviews__item-info__footer {
  border-bottom: none;
  height: 14px;
}
.reviews__inner .reviews__item-info{
  border-bottom: none;
}
.reviews__inner .reviews__item-info__footer.active {
  height: 127px;
  max-height: 127px;
  padding-bottom: 0px;
}
.reviews__inner .reviews-more {
  margin-top: 20px;
  margin-left: auto;
}
.reviews__inner .add-reviews {
  margin-top: 50px;
  background-color: transparent;
  padding: 0px;
  border-radius: 0px;
}
.reviews__inner .add-reviews .main-textarea {
  height: 100px;
}
.reviews__inner .add-reviews__buttons {
  margin-top: 20px;
}
/* //Reviews */

@media screen and (max-width: 1024px) {
      /* Reviews */
  .add-reviews {
    padding: 20px;
  }
  .add-reviews__item:last-of-type {
    margin-bottom: 50px;
  }
  .reviews__wrapper .general-decor-text {
    display: none;
  }
  .reviews__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(32.38deg);
    bottom: 400px;
  }
  .reviews__container {
    margin-top: 40px;
  }
  .reviews__inner .reviews__item {
    padding: 20px;
  }
  /* //Reviews */
}

@media screen and (max-width: 576px) {
      /* Reviews */
  .add-reviews {
    padding: 0px;
    background-color: transparent;
  }
  .add-reviews__item:last-of-type {
    margin-bottom: 20px;
  }
  .add-reviews__form .wrapper {
    align-items: flex-start;
    flex-direction: column;
  }
  .add-reviews__form .main-textarea {
    height: 120px;
  }
  .add-reviews__buttons {
    flex-direction: column;
  }
  .add-reviews__buttons .main-button {
    max-width: 100%;
  }
  .add-reviews__buttons .main-button-confirm {
    order: -1;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .reviews__item {
    position: relative;
  }
  .reviews__item > .reviews-img {
    position: absolute;
    left: 0px;
    top: -10px;
  }
  .reviews__item-info__header {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .reviews__item-info__header .name {
    margin-left: 50px;
    margin-bottom: 22px;
  }
  .reviews__inner .reviews__item-info__footer {
      height: 34px;
  }
  .reviews__inner .reviews__item-info {
      border-bottom: 1px solid #4F4F4F;
  }
  .reviews-img {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .more-reviews-text {
    margin: 20px 0px 0px;
  }
  .reviews__item-info__footer.active {
    height: 220px;
    max-height: 220px;
  }
  .reviews__item-info__footer .add-reviews__form {
    width: 100%;
  }
  .reviews__wrapper .general-decor-figure {
    display: none;
  }
  .reviews__container {
    margin-top: 10px;
  }
  .reviews__inner .reviews__item {
    padding: 0px;
    background-color: transparent;
    margin-bottom: 25px;
  }
  .reviews__inner .reviews__item-info__footer.active {
    height: 220px;
    max-height: 220px;
  }
  .reviews__inner .reviews-more {
    max-width: 100%;
  }
  .reviews__inner .add-reviews .main-textarea {
    height: 120px;
  }
  /* //Reviews */
}