/* Shop page */
.shop-page__wrapper .general-decor-figure {
  width: 320px;
  height: 320px;
  right: -150px;
  top: 35px;
  transform: rotate(30deg);
}
.shop-page__wrapper .general-tabs__list {
  margin-top: 30px;
}
.shop-page__wrapper .main-button {
  margin: 30px auto 0px;
}
/* //Shop page */

@media screen and (max-width: 1024px) {
    /* Shop page */
  .shop-page__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    right: -50px;
    top: 100px;
  }
  .shop-page__wrapper .general-tabs__list {
    margin-top: 50px;
  }
  /* //Shop page */
}

@media screen and (max-width: 576px) {
      /* Shop page */
  .shop-page__wrapper .general-decor-figure {
    display: none;
  }
  .shop-page__wrapper .general-tabs__list {
    margin-top: 30px;
  }
  /* //Shop page */
}