/* Error page */

.error-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    position: relative;
}
.error-page .main-caption {
    font-size: 144px;
    line-height: 176px;
    margin-bottom: 10px;
}

.error-page p {
    font-family: Impact;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.error-page .general-more {
    margin-left: 0px;
}

.error-page .general-decor-figure {
    width: 225px;
    height: 225px;
    transform: rotate(138.39deg);
    position: absolute;
    left: -115px;
    top: 0px;
}

.error-page .general-decor-figure:nth-child(2) {
    width: 405px;
    height: 405px;
    transform: rotate(138.39deg);
    bottom: -180px;
    left: auto;
    top: auto;
    right: -130px;
}

@media screen and (max-width: 767px) {
    .error-page {
        margin: 50px 0px;
    }
    
    .error-page .general-decor-figure {
        display: none;
    }
    
    .error-page .main-caption {
        font-size: 124px;
        line-height: 156px;
    }
}